.form {
  grid-area: f;
  background-color: #F6F5F5;
  border-radius: 5px;
}

.button {
  background-color: #434242;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
}

.form {
  text-align: center;
  font-weight: 300;
  color: #434242;
}


.header {
  text-align: center;
  color: #434242;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
}

.field {
  border-radius: 5px;
  width: 97%;
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}